body {
    font-family: 'Montserrat', sans-serif;
}
 .search-form {
    display: flex;
    gap: 8px;
width: 1440px;
padding: 36px 0px 420px 0px;
justify-content: center;
align-items: center;
background-color: #FFF;
 }

 .search-input {
    width: 272px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;


    color: #808080;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.04em;
 }

 .search-input:hover {
    border: 1px solid #000;
 }

 .search-input:active {
    border: 1px solid #4E75FF;
 }

 .search-btn {
    width: 91px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #4E75FF;
    cursor: pointer;
    border: none;

    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;

 }

 .search-btn:hover {
    background-color: #6C8CFF;
 }

 .gallery-item {
    list-style: none;

}

.gallery-image:hover {
    transform: scale(1.04);
}

.gallery {
    display: flex;
    padding: 24px 156px;
    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.gallery-image {
    width: 360px;
    height: 200px;

}